# ============================================================
#  BiblioConnect — Fichier d'exemple de configuration
#  Copiez ce fichier en .env.local et renseignez vos valeurs.
#  Ne committez JAMAIS .env.local dans Git.
# ============================================================

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_with_a_random_32_char_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Exemple PostgreSQL local :
# DATABASE_URL="postgresql://user:password@127.0.0.1:5432/biblioconnect?serverVersion=16&charset=utf8"
#
# Exemple Neon (PostgreSQL serverless) :
# DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require&serverVersion=16&charset=utf8"
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require&serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# Exemples : null://null | smtp://user:pass@smtp.mailtrap.io:2525
MAILER_DSN=null://null
###< symfony/mailer ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
